<div ng-init="init()">

    <div>

        <h4>Choose an option:</h4>

        <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="goToArticles()">View articles</button>
        </div>

        <form>
            <div class="form-group">
                <label for="exampleUsername">Username</label>
                <input type="text" class="form-control" id="exampleUsername"  placeholder="Enter username" ng-model="username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
        </form>

    </div>

</div>